<div id="navOverlay"></div>

<nav id="topbar" class="px-1 d-flex justify-content-between">

  <!-- menu button -->
  <a id="navCollapse" class="noIcon d-flex flex-column justify-content-center">
    <span style="font-size: 18px; line-height: 18px" class="fas fa-bars"></span>
    <span style="font-size: 10px">menu</span>
  </a>

  <div class="d-inline-flex align-items-center">
    <!-- search button -->
    
    <a class="noIcon d-flex flex-column justify-content-center" href="#" data-toggle="modal" data-target="#searchModal">
      <span style="font-size: 18px; line-height: 18px" class="fas fa-search"></span>
      <span style="font-size: 10px">search</span>
    </a>

    <!-- scroll to top button -->
    <a class="noIcon d-flex flex-column justify-content-center" id="scrollTop">
      <span style="font-size: 22px; line-height: 18px" class="fas fa-angle-double-up"></span>
      <span style="font-size: 10px">go up</span>
    </a>
  </div>

</nav>

<nav id="navigation" class="collapsed justify-content-between">
  
  <!-- close button -->
  <a id="navClose" class="noIcon d-flex flex-column justify-content-center align-items-center">
    <span style="font-size: 30px; line-height: 18px" class="fas fa-times"></span>
  </a>

  <div class="d-flex flex-column">
    <!-- nav section -->
    {% for item in site.data.navigation %}
      {% assign href = site.baseurl | append: '/' | append: item.link %}
      <a class="navItem mt-sm-3 mt-2 mb-1 {% if page.url == href %}active{% endif %}" href="{{ href }}">
        <span class="ml-2 navLabel">
          <span style="width: 30px" class="d-inline-flex justify-content-center"><span class="fas fa-{{ item.icon }}"></span></span>
          {{ item.name }}
        </span>
      </a>
    {% endfor %}
  </div>
</nav>

<!-- search modal -->
<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="visitCHFMLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="searchModalLabel">Search</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pl-4">
        <form action="search.html">
        <div class="tipue_search_group">
          <input autocomplete="off" type="text" name="q" id="tipue_search_input" pattern=".{3,}" title="At least 3 characters" required>
          <button type="submit" class="tipue_search_button">
            <span class="fas fa-search"></span>
          </button>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
