<div id="navOverlay"></div>

<nav id="topbar" class="pl-1 pr-3 d-flex justify-content-sm-start justify-content-between">

  <!-- menu button -->
  <a id="navCollapse" class="noIcon">
    <span class="fas fa-bars"></span>
  </a>

  <!-- normal icon nav buttons 
  {% cycle 'hsla(334%, 100%, 90%, 1)', 'hsla(119%, 100%, 90%, 1)', 'hsla(119%, 100%, 90%, 1)', ' hsla(191%, 100%, 90%, 1)', 'hsla(261%, 100%, 90%, 1)' %}
  -->
  {% for item in site.data.navigation %}
    {% if item.topbar %}
      {% assign href = site.baseurl | append: '/' | append: item.link %}
      <a class="noIcon {% if page.url == href %}active{% endif %}" href="{{ href }}">
        <span class="fas fa-{{ item.icon }}"></span>
      </a>
    {% endif %}
  {% endfor %}

  <!-- search button -->
  <a class="noIcon" href="#" data-toggle="modal" data-target="#searchModal" style="margin-right: -6px; margin-left: -2px"><!-- kerning icons is a thing -->
    <span class="fas fa-search"></span>
  </a>

  <!-- feedback button -->
  <a class="noIcon" href="mailto:webspinner@chapelhillfriends.org" data-toggle="tooltip" style="margin-right: -4px;" data-placement="bottom" title="submit feedback">
    <span class="fas fa-paper-plane"></span>
  </a>

</nav>

<nav id="navigation" class="collapsed justify-content-between">
  
  <!-- close button -->
  <a id="navClose" class="noIcon">
    <span class="fas fa-times" style="font-size: 30px"></span>
  </a>

  <div class="d-flex flex-column">
    <!-- nav section -->
    {% for item in site.data.navigation %}
      {% assign href = site.baseurl | append: '/' | append: item.link %}
      <a class="navItem mt-sm-4 mt-3 {% if page.url == href %}active{% endif %}" href="{{ href }}">
        <span class="ml-2 navLabel">
          <span style="width: 30px" class="d-inline-flex justify-content-center"><span class="fas fa-{{ item.icon }}"></span></span>
          {{ item.name }}
        </span>
      </a>
    {% endfor %}
  </div>
</nav>


<!-- search modal -->
<div class="modal fade" id="searchModal" tabindex="-1" role="dialog" aria-labelledby="visitCHFMLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="searchModalLabel">Search</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body pl-4">
        <script>
          (function() {
            var cx = '013547896388835349462:icplwrujy5a';
            var gcse = document.createElement('script');
            gcse.type = 'text/javascript';
            gcse.async = true;
            gcse.src = 'https://cse.google.com/cse.js?cx=' + cx;
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(gcse, s);
          })();
        </script>
        <gcse:search></gcse:search>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
