# First Day Schedule

## Sunday

8:15am to 9:15am - Early worship in the meeting room

9:30am to 10:30am - [Forum (Online)]({{ site.baseurl }}/forums.html)

11am to 12pm - Worship in the meeting room

11am to 12pm - Worship outside under the magnolia tree. Bring own chair

11am to 12pm - Worship via Zoom in your own home

11am to 12pm - First Day School on the playground

<small>Child care available if needed</small>

<small>On the third Sunday of the month we gather for [Meeting
for Worship with Attention to Business]({{ site.baseurl }}/mwab.html) starting at
9am</small>
