/* Coolors Exported Palette - coolors.co/373740-f9faff-72d38c-58a36c-416d4d */

$color1: #28292F; // black
$color2: #FFFFFF; // #F9FAFF; // white
$color3: #7bc679; // green
$color4: #6A9669; // dark green
// $color6: darken(lavender, 20%); // purple

$light1: lighten($color1, 30%);
// $light6: darken($color3, 5%);
$dark1: darken($color1, 5%);
$dark2: darken($color2, 20%);
$darker2: darken($dark2, 25%);
$light3: lighten($color3,15%);
$dark3: darken($color3, 30%);
// $dark6: desaturate(darken($color6, 15%), 15%);

$textcolor: $color1;

$linkColor: $color3;
$linkHover: $color4;
$linkActive: $color1;

$gradient: linear-gradient(10deg, $color3 0%, $color4 70%);
$gradient-horizontal: linear-gradient(to right, $color3 0%, $color4 70%);


$shadoweffect: 0px    1px  0    #b9b9b9,
               0.5px  2px  0    #b0b0b0,
               1px    3px  0    #a9a9a9,
               1.5px  4px  0    #a0a0a0,
               2px    5px  0    #999999,
               2.5px  6px  1px  rgba(0,0,0,.1),
               3px    0    5px  rgba(0,0,0,.1),
               3.5px  1px  3px  rgba(0,0,0,.3),
               4px    3px  5px  rgba(0,0,0,.2),
               4.5px  5px  10px rgba(0,0,0,.25),
               5px    10px 10px rgba(0,0,0,.2),
               5.5px  20px 20px rgba(0,0,0,.15);

$shadoweffect2: 0px 1px 0     #b9b9b9,
                0px 2px  0    #b0b0b0,
                0px 3px  0    #a9a9a9,
                0px 4px  0    #a0a0a0,
                0px 5px  0    #999999,
                0px 6px  1px  rgba(0,0,0,.1),
                0px 0    5px  rgba(0,0,0,.1),
                0px 1px  3px  rgba(0,0,0,.3),
                0px 3px  5px  rgba(0,0,0,.2),
                0px 5px  10px rgba(0,0,0,.25),
                0px 10px 10px rgba(0,0,0,.2),
                0px 20px 20px rgba(0,0,0,.15);