@import "palette";

@mixin vertical-center($percent: 50%){
  position: relative;
  top: $percent;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transform-style: preserve-3d;
}

@mixin gradient() {
  background-image: $gradient;
}

@mixin gradient-text(){
  background-image: $gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin site-gradient(){
  background-image: $gradient-horizontal;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

$fontsize: 16px;
$fontstack: "Open Sans", Helvetica, sans-serif;
$titlestack: $fontstack;
$titlestyle: normal;
$transition: all 200ms ease-in-out;

@import "landing";

.noPadding {
  padding-left: 0;
  padding-right: 0;
}

html, body {
  background-color: $color2;
  height: 100%;
  color: $textcolor;
}

body {
  color: $textcolor;
  font-family: $fontstack;
  font-size: $fontsize;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 70px;
}

h1 {
  font-family: $fontstack;
  font-weight: 700;
  font-size: $fontsize * 1.6;
  font-style: $titlestyle;
  color: $textcolor;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 0px;
}

h2 {
  color: $textcolor;
  font-weight: 700;
  font-size: $fontsize;
  margin-bottom: 0px;
  margin-top: 15px;
}

h3 {
  color: $textcolor;
  padding-top: 5px;
  font-size: $fontsize;
  font-style: italic;
}

p {
  font-family: $fontstack;
  color: $textcolor;
  font-size: $fontsize;
  margin-bottom: 10px
}

a {
  color: $linkColor;
  &:hover {
    color: $linkHover;
  }
  &:active {
    color: $linkActive;
  }
  &:hover, &:visited, &:link, &:active {
      text-decoration: none;
  }
}

.tooltip-inner {
  max-width: 300px;
  /* If max-width does not work, try using width instead */
}

// navbar
#menuButton span:hover:before {
  color: $color2;
}

#menuButton:focus {
  outline: none;
}

.navbar {
  font-size: $fontsize - 1; // a better solution is probably in order
}

.navbar-dark {
  background-color: $color1;
  color: $color2;
}

.navbar-brand {
  font-weight: 700;
}

.navbar-nav {
  white-space: nowrap;
}

.popover {
  font-family: $fontstack;
  width: 900px;
  .popover-header {
    background-color: desaturate(darken($color2, 5%), 70%); // I know, I know, just leave this one.
    font-weight: 700;
    font-style: normal;
  }
  .popover-body {
    background-color: $color2;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    .checkmark {
      width: 20px;
      height: auto;
      margin-top: -4px; // just don't worry about it... 
      margin-right: 10px;
    }
  }
  .arrow:after {
    border-top-color: $color2;
    border-bottom-color: desaturate(darken($color2, 5%), 70%); 
  }
}

#content {
  padding: 5px 25px 15px;
  max-width: 840px;
  flex: 1 0 auto;
  .row {
    margin: 0px;
    padding: 0px;
  }
}

.card {
  padding: 0;
  background-color: $color2;
  .btn {
    color: $textcolor;
    font-weight: 700;
    text-decoration: none;
    padding: 0px;
    white-space: normal;
    text-align: left;
    font-size: $fontsize;
    &:hover{
      color: $light1;
    }
    &:active {
      color: $color4;
    }
  }
}

.card-body {
  color: $dark2;
}

// this stuff makes the arrows... in a surprisingly elegant way. huh.
.accordionButton::before {
    font-family: "Font Awesome 5 Free";
    content: "\f107";
}

.accordionButton[aria-expanded="true"]::before {
    content: "\f106";
}

#footer {
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  padding: 25px;
  margin-top: 25px;
  background-color: $color2;
  color: darken($color2, 20%);
  flex-shrink: 0; // imma be honest I have no clue what this does
}

#footerLine {
  margin: 0 2% 0;
  height: 10px;
  width: 96%;
  background-color: none;
  border-top: solid 1px darken($color2, 20%);
}

#logo {
  margin-top: 20px;
}

#slogan {
  font-style: italic;
}