@import "palette";

@font-face {
  font-family: "Public Sans";
  src: url("/assets/fonts/public-sans/PublicSans-Medium.ttf");
  src: url("/assets/fonts/public-sans/PublicSans-Medium.woff") format("woff");
  src: url("/assets/fonts/public-sans/PublicSans-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Public Sans";
  src: url("/assets/fonts/public-sans/PublicSans-Bold.ttf");
  src: url("/assets/fonts/public-sans/PublicSans-Bold.woff") format("woff");
  src: url("/assets/fonts/public-sans/PublicSans-Bold.woff2") format("woff2");
  font-weight: bold;
}

@mixin vertical-center($percent: 50%){
  position: relative;
  top: $percent;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transform-style: preserve-3d;
}

@mixin gradient() {
  background-image: $gradient;
}

@mixin gradient-text(){
  background-image: $gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin site-gradient(){
  background-image: $gradient-horizontal;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

$fontsize: 13pt;
$fontstack: 'Inter', 'Helvetica Neue', Helvetica, sans-serif;
$titlestack: $fontstack;
$transition: all 200ms ease-in-out;

$topbarHeight: 42px;

.noPadding {
  padding-left: 0;
  padding-right: 0;
}

::selection {
  background-color: rgba($light3, .5);
}

html, body {
  background-color: $color2;
  height: 100%;
  color: $textcolor;
}

body {
  color: $textcolor;
  font-family: $fontstack;
  font-size: $fontsize;
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: -2;
  padding: 0;
  margin: 0;
  padding-top: $topbarHeight;
}

h1 {
  color: $textcolor;
  font-family: $titlestack;
  font-size: $fontsize * 2;
  font-weight: 700;
  font-style: normal;
}

h2 {
  color: $textcolor;
  font-family: $titlestack;
  font-size: $fontsize * 1.3;
  font-weight: 700;
}

h3 {
  color: $textcolor;
  font-family: $fontstack;
  font-size: $fontsize;
  font-weight: 700;
}

p {
  color: $textcolor;
  font-family: $fontstack;
  font-size: $fontsize;
}

a {
  color: $linkColor;
  font-weight: 700;
  text-decoration: none;
  &:hover {
    color: $linkHover;
    text-decoration: underline;
  }
  &:active {
    color: $linkActive;
  }
  &:hover, &:visited, &:link, &:active {
      text-decoration: none;
  }
}

.ulBullets {
  color: $color1;
  padding-left: 1.6em;
  .liBullets {
    list-style: none;
    &::before {
      color: $dark2;
      position: absolute;
      width: 0;
      content: "\2022";
      padding-right: 1.15em;
      margin-left: -1.15em;
    }
  }
}

.tooltip-inner {
  max-width: 300px;
}

// navbar
#navigation {
  background-color: $color1;
  color: $color2;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 200px;
  height: 100%;
  transition: all .2s ease-out;
  white-space: nowrap;
  box-shadow: 0 0 26px rgba(0,0,0,0.6);
  &.collapsed {
    // max-width: 0px;
    align-items: left;
    left: -200px;
    box-shadow: none;
  }
}

// make the menu usable on small, landscape screens :/
@media (max-height: 545px) {
  #navigation a {
    margin-bottom: 0 !important;
    margin-top: 4px !important;
  }
}

@media (max-height: 360px) {
  #navigation {
    padding-top: 2px;
    a {
    margin-top: 0 !important;
    }
  }
}

#navOverlay {
  position: fixed;
  z-index: 2;
  background-color: rgba(0,0,0,0.5);
  width: 100vw;
  height: 100vh;
  display: none;
}

#topbar {
  background-color: $color1;
  position: fixed;
  top: 0px;
  height: $topbarHeight;
  width: 100vw;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0,0,0,0.6);
  a {
    display: inline-flex;
    color: $color2;
    width: $topbarHeight;
    font-size: $topbarHeight - 20;
    transition: color 100ms ease;
    cursor: pointer;
    &.active {
      color: $color3;
      &:hover {
        color: $color3;
      }
      &:active {
        color: $dark3;
      }
    }
    &:hover {
      color: $dark2;
    }
    &:active {
      color: $darker2;
    }
    span {
      width: inherit;
      height: inherit;
      font-size: inherit;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
  }
}

#navClose {
  position: absolute;
  top: 10px;
  right: 12px;
  color: $color2;
  cursor: pointer;
  &:hover {
    color: $dark2;
  }
  &:active {
    color: $darker2;
  }
}

.navItem {
  transition: none;
  display: block;
  color: $color2;
  &.active {
    color: $color3;
    &:hover {
      color: $dark3;
    }
    &:active {
      color: $dark3;
    }
  }
  &:hover {
    color: $dark2;
  }
  &:active {
    color: $darker2;
  }
}

.navLabel {
  width: 0;
  white-space: nowrap;
}

// tipuesearch stuff
.tipue_search_group {
  display: flex;
}

.tipue_search_icon {
  display: none;
}

.tipue_search_left {
  display: none;
}

#tipue_search_input, .searchBox {
  border: solid 3px $color3;
  border-radius: 28px;
  display: block;
  font-family: $fontstack;
  padding: 14px 20px 14px;
  width: 100%;
  max-width: 100%;
  box-shadow: 0 0 0 rgba($color1, 0.4);
  transition: box-shadow 200ms ease;
  &:focus {
    outline: none;
    box-shadow: 0 0 12px rgba($color1, 0.8);
  }
}

.highlight {
  background-color: $color2;
}

.tipue_search_button {
  width: 10%;
  background: none;
  border: none;
  &:hover {
    color: $light1;
  }
}

.tipue_search_right {
  width: 90%;
}

#tipue_search_content {
  font-family: $fontstack;
  font-size: $fontsize;
  #tipue_search_results_count, .tipue_search_content_title {
    margin-top: 14px;
  }
  .tipue_search_content_url a {
    color: $linkColor;
    &:hover {
      color: $linkHover;
    }
    &:active {
      color: $linkActive
    }
  }
}

.tipue_search_foot_boxes {
  &::before {
    content: none;
  }
}

// glossary
#glossary {
  margin-top: 20px;
}

// breadcrumbs
.breadcrumb {
  background: none;
  margin-bottom: 0;
  padding-top: 0;
}

// popovers
.popover {
  font-family: $fontstack;
  width: 900px;
  .popover-header {
    margin-top: 0;
  }
  .popover-header {
    background-color: desaturate(darken($color2, 5%), 70%); // I know, I know, just leave this one.
    font-weight: 700;
    font-style: normal;
  }
  .popover-body {
    background-color: $color2;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    .checkmark {
      width: 20px;
      height: auto;
      margin-top: -4px; // just don't worry about it...
      margin-right: 10px;
    }
  }
  .arrow:after {
    border-top-color: $color2;
    border-bottom-color: desaturate(darken($color2, 5%), 70%);
  }
}

// big image pages

#imageBase {
  background-color: $color1;
  z-index: -2;
}

#bigImage {
  height: 75vh;
  position: relative;
  .img-fluid {
    height: inherit;
    width: auto;
    object-fit: cover;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: -2;
    min-width: 100%;
  }
}

.overlay {
  background-color: rgba(0,0,0,0);
  color: $color2;
  text-shadow: 0px 0px 10px rgba(0,0,0,1), 0px 0px 14px rgba(0,0,0,1);
  padding: 0 20px 15px;
  text-align: center;
  width: auto;
  position: absolute;
  top: 3%;
  h1 {
    font-family: $titlestack;
    font-weight: 700;
    font-size: 45px;
    color: inherit;
    line-height: 65px;
    &::selection {
      text-shadow: none;
      background-color: rgba($light3, .5);
    }
  }
  p {
    font-family: $fontstack;
    font-weight: 400;
    font-size: 20px;
    color: inherit;
    max-width: 300px;

  }
}

#imageContent {
  background-color: $dark1;
  padding: 5px 0 5px;
  // margin-top: -25px;
  .row {
    max-width: 840px;
  }
}

.imageInfo {
  padding: 10px 30px 10px;
  background-color: inherit;
  height: 100%;
  h1, h2, h3, h4, h5, h6 {
    color: $color2;
  }
  p {
    color: $dark2;
    font-size: 16px;
  }
  a {
    font-size: 16px;
  }
  small {
    color: $dark2;
    a {
      font-size: inherit;
    }
  }
}

// generic page formatting

#content {
  max-width: 840px;
  flex: 1 0 auto;
  .row {
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

.card {
  padding: 0;
  background-color: $color2;
  .btn {
    color: $color1;
    font-weight: 700;
    text-decoration: none;
    padding: 0px;
    white-space: normal;
    text-align: left;
    font-size: $fontsize;
    &:hover {
      opacity: 0.7;
    }
    &:active {
      opacity: 0.4;
    }
  }
}

.scrollFix::before {
  display: block;
  content: " ";
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
  pointer-events: none;
}

// this stuff makes the arrows... in a surprisingly elegant way. huh.
.accordionButton::before {
  font-family: "Font Awesome 5 Free";
  content: "\f107";
}

.accordionButton[aria-expanded="true"]::before {
  content: "\f106";
}

// calendar fix
#calendar h2 {
  @extend h1;
  font-size: $fontsize * 1.6;
}

.fc-today {
  background-color: rgba($color3, .4);
}

// this is for displaying key-combinations... for some reason
.shortcutIcon {
  width: 30px;
  height: 40px;
  text-align: center;
  &.keyIcon {
    width: 40px;
    // border: solid 2px;
    border-radius: 5px;
    background-color: #ddd;
    border-bottom: solid 2px #aaa;
  }
}

// map containers
.map-container {
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
}

.map-container iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
}

// circle number
.circleNumber {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: $color3;
  color: $color2;
  font-size: 42px;
  font-weight: bold;
  text-align: center;
  line-height: 57px;
  margin-bottom: 16px;
}

blockquote {
  border-left: 3px solid rgba($color1, 0.2);
  padding-left: 20px;
}

// footer
#footer {
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  padding: 25px;
  padding-top: 10px;
  background-color: $color2;
  color: darken($color2, 20%);
  flex-shrink: 0; // imma be honest I have no clue what this does
}

#footerLine {
  margin: 0 2% 0;
  height: 10px;
  width: 96%;
  background-color: none;
  border-top: solid 1px darken($color2, 20%);
}

#logo {
  margin-top: 20px;
}

#slogan {
  font-style: italic;
}
