@import "palette";

@mixin vertical-center($percent: 50%){
  position: relative;
  top: $percent;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  transform-style: preserve-3d;
}

@mixin gradient() {
  background-image: $gradient;
}

@mixin gradient-text(){
  background-image: $gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin site-gradient(){
  background-image: $gradient-horizontal;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

$fontsize: 17px;
$fontstack: "Source Sans Pro", Helvetica, sans-serif;
$titlestack: $fontstack;
$titlestyle: italic;
$transition: all 200ms ease-in-out;

.noPadding {
  padding-left: 0;
  padding-right: 0;
}

::selection {
  background-color: rgba($light3, .5);
}

html, body {
  background-color: $color2;
  height: 100%;
  color: $textcolor;
}

body {
  color: $textcolor;
  font-family: $fontstack;
  font-size: $fontsize;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 55px;
  z-index: -2;
}

h1 {
  font-family: $fontstack;
  font-weight: 700;
  font-size: $fontsize * 1.6;
  font-style: normal;
  color: $textcolor;
  display: inline-block;
  margin-top: 5px;
  margin-bottom: 10px;
}

h2 {
  color: $textcolor;
  font-weight: 700;
  font-size: $fontsize * 1.2;
  margin-bottom: 0px;
  margin-top: 15px;
}

h3 {
  color: $textcolor;
  padding-top: 5px;
  font-size: $fontsize;
  font-style: italic;
}

p {
  font-family: $fontstack;
  color: $textcolor;
  font-size: $fontsize;
  margin-bottom: 10px
}

a {
  color: $linkColor;
  &:hover {
    color: $linkHover;
  }
  &:active {
    color: $linkActive;
  }
  &:hover, &:visited, &:link, &:active {
      text-decoration: none;
  }
}

ul {
  color: $color1;
  padding-left: 1.6em;
  li {
    list-style: none;
    &::before {
      color: $dark2;
      position: absolute;
      width: 0;
      content: "\2022";
      padding-right: 1.15em; 
      margin-left: -1.15em;
    }
  }
}

.tooltip-inner {
  max-width: 300px;
}

// navbar
#navigation {
  background-color: $color1;
  color: $color2;
}

#menuButton span:before {
  color: $color2;
}

#menuButton span:hover:before {
  color: $dark2;
}

#menuButton:focus {
  outline: none;
}

.navbar {
  font-size: $fontsize;
}

.nav-item {
  color: $color2;
  &.active {
    color: $color3;
    &:hover {
      color: $color3;
    }
  }
  &:hover {
    color: $dark2;
  }
}

.navbar-brand {
  font-weight: 700;
}

.navbar-nav {
  white-space: nowrap;
}

// breadcrumbs
.breadcrumb {
  background: none;
}

// popovers
.popover {
  font-family: $fontstack;
  width: 900px;
  .popover-header {
    background-color: desaturate(darken($color2, 5%), 70%); // I know, I know, just leave this one.
    font-weight: 700;
    font-style: normal;
  }
  .popover-body {
    background-color: $color2;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    .checkmark {
      width: 20px;
      height: auto;
      margin-top: -4px; // just don't worry about it... 
      margin-right: 10px;
    }
  }
  .arrow:after {
    border-top-color: $color2;
    border-bottom-color: desaturate(darken($color2, 5%), 70%); 
  }
}

// homepage specific styling

#homeBase {
  background-color: $color1;
  z-index: -2;
}

#bigImage {
  height: 75vh;
  position: relative;
  .img-fluid {
    height: inherit;
    width: auto;
    object-fit: cover;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: -2;
    min-width: 100%;
  }
}

.overlay {
  background-color: rgba(0,0,0,0);
  color: $color2;
  text-shadow: 0px 0px 10px rgba(0,0,0,1);
  padding: 5px 20px 15px;
  text-align: center;
  width: auto;
  position: absolute;
  top: 7%;
  h1 {
    font-family: $titlestack;
    font-weight: 700;
    font-size: 45px;
    color: inherit;
    line-height: 65px;
    &::selection {
      text-shadow: none;
      background-color: rgba($light3, .5);
    }
  }
  p {
    font-family: $fontstack;
    font-weight: 400;
    font-size: 20px;
    color: inherit;
    max-width: 300px;

  }
}

#homeContent {
  background-color: $dark1;
  padding: 5px 0 5px;
  // margin-top: -25px;
  .row {
    max-width: 840px;
  }
}

.homeInfo {
  padding: 10px 30px 10px;
  background-color: inherit;
  height: 100%;
  h1 {
    color: $color2;
  }
  h2 {
    color: $color2;
    font-size: 20px;
    font-weight: 700;
  }
  p {
    color: $dark2;
    font-size: 16px;
  }
  a {
    font-size: 16px;
  }
  small {
    color: $dark2;
    a {
      font-size: inherit;
    }
  }
}

// generic page formatting

#content {
  padding: 5px 25px 15px;
  max-width: 840px;
  flex: 1 0 auto;
  .row {
    margin: 0px;
    padding: 0px;
  }
}

.card {
  padding: 0;
  background-color: $color2;
  .btn {
    color: $textcolor;
    font-weight: 700;
    text-decoration: none;
    padding: 0px;
    white-space: normal;
    text-align: left;
    font-size: $fontsize;
    &:hover{
      color: $light1;
    }
    &:active {
      color: $color4;
    }
  }
}

.card-body {
  color: $dark2;
}

.scrollFix::before { 
  display: block; 
  content: " "; 
  margin-top: -75px; 
  height: 75px; 
  visibility: hidden; 
  pointer-events: none;
}

// this stuff makes the arrows... in a surprisingly elegant way. huh.
.accordionButton::before {
  font-family: "Font Awesome 5 Free";
  content: "\f107";
}

.accordionButton[aria-expanded="true"]::before {
  content: "\f106";
}

// calendar fix
#calendar h2 {
  @extend h1;
}

.fc-today {
  background-color: rgba($color3, .4);
}

// this is for displaying key-combinations... for some reason
.shortcutIcon {
  width: 30px;
  height: 40px;
  text-align: center;
  &.keyIcon {
    width: 40px;
    // border: solid 2px;
    border-radius: 5px;
    background-color: #ddd;
    border-bottom: solid 2px #aaa;
  }
}

// footer
#footer {
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  padding: 25px;
  padding-top: 50px;
  background-color: $color2;
  color: darken($color2, 20%);
  flex-shrink: 0; // imma be honest I have no clue what this does
}

#footerLine {
  margin: 0 2% 0;
  height: 10px;
  width: 96%;
  background-color: none;
  border-top: solid 1px darken($color2, 20%);
}

#logo {
  margin-top: 20px;
}

#slogan {
  font-style: italic;
}