<!DOCTYPE html>
<html>
  <head>
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <meta charset="UTF-8">
    {% comment %} Google tag (gtag.js) {% endcomment %}
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-7B951VSRJQ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-7B951VSRJQ');
    </script>
    {% comment %} End Google tag {% endcomment %}
      {% comment %} bootstrap {% endcomment %}
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" rel="stylesheet">
    <script crossorigin="anonymous" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
    {% comment %} javascript {% endcomment %}
    <script type="text/javascript" src="{{ site.baseurl }}/assets/js/script.js"></script>
    {% comment %} reCAPTCHA {% endcomment %}
    <script src="https://www.google.com/recaptcha/api.js"></script>
    {% comment %} search {% endcomment %}
    {% if search_active %}
      <script src='{{ "/assets/js/search-index.js" | relative_url }}'></script>
      <script src='{{ "/assets/js/search.js" | relative_url }}'></script>
    {% endif %}
    {% comment %} FontAwesome icons {% endcomment %}
    <link crossorigin="anonymous" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" rel="stylesheet">
    {% comment %} google fonts {% endcomment %}
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
    {% comment %} custom styling {% endcomment %}
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/styles.css">
    {% comment %} favicon {% endcomment %}
    {% include favicon.html %}
    {% comment %} {%- seo -%}{% endcomment %}
    <title>{{ title }}</title>
  </head>
  <body>
    {% comment %} Google Tag Manager (noscript) {% endcomment %}
    <noscript>
      <iframe height="0" src="https://www.googletagmanager.com/ns.html?id=GTM-PQ4VJB4" style="display:none;visibility:hidden" width="0"></iframe>
    </noscript>
    {% comment %} End Google Tag Manager (noscript) {% endcomment %}
    {{ content }}
  </body>
</html>
