<!-- This is just the <head> tag -->
<!doctype html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">

  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-PQ4VJB4');</script>
  <!-- End Google Tag Manager -->

  <!-- bootstrap -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
    crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
    crossorigin="anonymous"></script>

  <!-- javascript -->
  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/easing.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/js-html.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/assets/js/script.js"></script>

  <!-- calendar -->
  <link rel='stylesheet' href='{{site.baseurl}}/assets/css/fullcalendar.min.css' />
  <script src='{{site.baseurl}}/assets/js/fullcalendar/moment.js'></script>
  <script src='{{site.baseurl}}/assets/js/fullcalendar/fullcalendar.min.js'></script>
  <script src="{{site.baseurl}}/assets/js/fullcalendar/gcal.min.js"></script>

  <!-- reCAPTCHA -->
  <script src='https://www.google.com/recaptcha/api.js'></script>

  <!-- tipuesearch -->
  {% if page.tipue_search_active or layout.tipue_search_active %}
  <script src='{{ "/assets/tipuesearch/tipuesearch_content.js" | relative_url }}'></script>
  <link rel='stylesheet" href="{{ "/assets/tipuesearch/css/tipuesearch.css" | relative_url }}'>
  <script src='{{ "/assets/tipuesearch/tipuesearch_set.js" | relative_url }}'></script>
  <script src='{{ "/assets/tipuesearch/tipuesearch.min.js" | relative_url }}'></script>
  {% endif %}

  <!-- fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700|Signika:700" rel="stylesheet">

  <!-- FontAwesome icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

  <!-- custom styling -->
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/styles.css">

  <!-- favicon -->
  {% include favicon.html %}

  <!-- jekyll tags -->
  {% feed_meta %}
  {% seo %}
</head>
<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PQ4VJB4"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  {{ content }}
</body>

</html>
