---
layout: base
---

<!-- Includes navbar and footer. No content container -->

<div class="container-fluid" id="header">
  <nav class="navbar fixed-top navbar-expand-md navbar-dark bg-dark justify-content-start">
    <button id="menuButton" class="navbar-toggler" style="margin: 13px 10px 0 0; padding: 0; position: absolute; top: 0; border: none;" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fas fa-bars"></span>
    </button>
    <a class="mx-auto" href="{{site.baseurl}}/landing">
      {% include quaker-star-light.html color="#FFF" size="30px" %}
    </a>
    <div class="collapse navbar-collapse ml-2" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        {% for item in site.data.navigation %}
          <a class="nav-item nav-link {% if page.url == item.link %}active{% endif %}" href="{{ site.baseurl }}{{ item.link }}">
            <span class="fas fa-{{ item.icon }}"></span> {{ item.name }}
          </a>
        {% endfor %}
      </div>
    </div>
  </nav>
</div>

{{ content }}

<div class="container-fluid" id="footer">
  <div id="footerLine"></div>
  <div class="row">
    <div style="width: 100%" class="d-flex flex-wrap justify-content-center">
      {% for item in site.data.footer-links %}
        <div class="mr-2 ml-2 p-1">
          {% if item.link %}
            <a href="{{ site.baseurl }}/{{ item.link }}">{{ item.title }}</a>
          {% else %}
            {{item.title}}
          {% endif %}
        </div>
      {% endfor %}
    </div>
  </div>
</div>