---
layout: base
---

<div class="container-fluid" id="header">
  <div class="row">
    <div class="col-sm-2 col-6 order-sm-0 order-1 besideCHFM">
        <button
        type="button"
        id="diversityPop"
        class="btn btn-success mx-auto"
        data-toggle="popover"
        data-placement="bottom"
        data-trigger="focus"
        >
        <img style="width: 25px" src="/assets/images/icons/equals.png" />
      </button>
    </div>
    <div class="col-sm-8 order-sm-1 order-0">
      <div class="row">
        <div class="col" id="chfmText">
          Chapel Hill Friends Meeting
        </div>
      </div>
      <div class="row d-none d-sm-block">
        <div class="col" id="slogan">
          Quakers!
        </div>
      </div>
    </div>
    <div class="col-sm-2 col-6 order-sm-2 order-2 besideCHFM">
      <button
        type="button"
        id="contactPop"
        class="btn btn-success mx-auto"
        data-toggle="popover"
        data-placement="bottom"
        data-trigger="focus"
        >
        <img src="/assets/images/icons/quaker-star-light.png" />
      </button>
    </div>
  </div>
  <div class="row pr-md-5 pl-md-5" id="navbar">
    {% for item in site.data.navigation %}
      <div class="col-sm col-4 navElement">
        <a href="{{ item.link }}" {% if page.url == item.link %}class="currentPage"{% endif %}>
          {{ item.name }}
        </a>
      </div>
    {% endfor %}
  </div>
</div>

{{ content }}

<div class="container-fluid" id="footer">
  {% include footer.html %}
</div>