---
layout: default
---

<div class="container" id="content">
    <div class="row">
        <nav class="col-sm-4" id="subnav">
            {% for item in site.data[page.sidebar] %}
            <div class="subnav-link"><a href="{{ item.link }}">{{ item.title }}</a>
                {% for entry in item.subfolderitems %}
                    <div class ="subnav-sublink">
                        <a href="{{ entry.url }}">{{ entry.name }}</a>
                    </div>
                {% endfor %}
            </div>
            {% endfor %}
        </nav>
        <div class="col-sm-8 offset-sm-4 pagecontent">
        {{ content }}
        </div>
    </div>
</div>